from time import sleep
import re,requests,os,sys,json,colorama,random
import uuid

def GetPro5(x,proxy,stt):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()



def GetTDS(tk,mk,proxy):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()


def GetJobLikePage(cktds,proxies):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()

def likepage(cookies,fb_dtsg,idpagecanthick,jazoettx,proxies):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()
def CauHinh(UID,ĐÂU,proxies):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()
def Delay(s,l):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()
		


def UpAVT(cookiesFB,fb_dtsgFB,proxy,listANH):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()

def UpBìa(cookiesFB,fb_dtsgFB,proxy,listANH):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()
def ThemUID(UID,cktds,cookiesFB,fb_dtsgFB,proxy,listANH,KeyCapCha):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()
def get_ThongTin(email, password, twofactor, type, proxy):
	print('Het Thu Nghiem Tool Cam On Ban Da Su Dung !!!')
	quit()
